venv/
media/
__pycache__/
# Django stuff
*.log
*.pot
*.pyc
__pycache__
local_settings.py

# Virtual environment
venv/
.env

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Compiled Python files
*.pyc

# Other
.DS_Store
# Dependency directories
node_modules/

# Build directory
build/

# Environment variables
.env

# Compiled output
dist/

# Log files
*.log

# Other
.DS_Store
back-end/config/groups/migrations/0006_alter_group_date_created.py
back-end/config/groups/migrations/0007_alter_group_date_created.py
